//Global Typography

$h1: 4rem;


$h2:2.75rem;
$h3:2rem;
$h4:1.3rem;
$h5:1.125rem;
$h6:1rem;

$p:0.875rem;

$app:#262626;

$green:#0BD65D;
$lightgreen:#d9e4de;
$black:#020202;
$lightgrey:#f6f7f9;
$body-text:#656565;

$myfont:'Plus Jakarta Sans', sans-serif;
